$colorParrafos:black;
$tamanioLetraParrafos : 13px;
$tamanioLetraTitulo: 25px;
$tamanioLetraVarios:15px;
$letraParrafosyTitulos: 'Libre Baskerville', serif;
$letraTabla: 'Roboto Mono', monospace;
$colorTitulos:#000dff;

